<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Welcome to the Colony</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css"/>


    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">


</head>

<body>
<div id="header">
    <h1 id="title">_COLONY</h1>
    <p>swarm management system</p>
</div>

<div id="welcome">

    <p th:text="'Current human time is ' + ${Date}" />
    <br>
    <p th:text="'Now is ' + ${BeeDate} + ' year of the Bee Era.'" />
    <br><br>
    <a th:href="@{/menu}"  class="btn btn-outline-secondary btn-lg">Enter the Colony</a>



</div>

</body>

</html>