<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="UTF-8">

  <title>Welcome to the Colony</title>

  <!--<link rel="stylesheet" href="css/bootstrap.min.css" media="screen" type="text/css"/>-->
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen" type="text/css"/>

    <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">-->

    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 <![endif]-->

  </head>

  <body>
  <div id="header">
    <h1 id="title">_COLONY</h1>
    <p>swarm management system</p>
  </div>


    <div class="container">

      <div id="login">

        <form action="#" th:action="@{/login}" method="post">

          <fieldset class="">
            <!--podpięcie bootstrapa rozsypuje układ formularza-->
            <div class="col-xs-15">
              <div>
                <div th:if="${loginError}" class="alert alert-danger ol-xs-offset-1 col-xs-10">Invalid user or password!</div>
              </div>
            </div>
            <!--ostylować komunkat błędu powyżej-->
            <!--logout message below-->
            <div th:if="${logout}">
              <div class="alert alert-info">
                You have been logged out.
              </div>
            </div>
            <p><span class="fontawesome-user"></span>
              <input type="text" name="username" placeholder="Who are you?"></p>
            <p><span class="fontawesome-lock"></span>
              <input type="password"  name="password" placeholder="******"></p>
            <p><input type="submit" value="_to the hive"></p>

          </fieldset>

        </form>

        <p>Not a bee? <a href="#">Join the swarm now</a><span class="fontawesome-arrow-right"></span></p>

      </div> <!-- end home -->

    </div>

  </body>
</html>