<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Queen Details | Colony</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>

<body>

<div class="container">

    <h3>Colony | Swarm Management System</h3>
    <hr>
    <h4>Current queen details</h4>
    <hr>
    <!-- ALL CONTRACTS BUTTON -->
    <a th:href="@{/db}" class="btn btn-secondary btn-sm mb-3">All beehives</a>
    <!-- ACTIVE ONLY BUTTON -->
    <a th:href="@{/listNucs}" class="btn btn-secondary btn-sm mb-3">List nucs</a>
    <!-- SOFTWARE LIST BUTTON -->
    <a th:href="@{/queenList}" class="btn btn-secondary btn-sm mb-3">Queen list</a>
    <!-- TABLE -->
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Queen ID</th>
            <th>Breed</th>
            <th>Marking</th>
            <th>Year</th>
        </tr>
        </thead>

        <tbody>
        <tr th:object="${beehive}">

            <td th:text="${beehive?.queen?.id}"/>
            <td th:text="${beehive?.queen?.breed}"/>
            <td th:text="${beehive?.queen?.marking}"/>
            <td th:text="${beehive?.queen?.year}"/>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>



