<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Queen list | BXF</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>

<body>

<div class="container-fluid">

    <h3>BXF. Swarm management system</h3>
    <hr>
    <h4>Queens within the colony</h4>
    <hr>
    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-danger btn-sm mb-3" value="Logout"/>
        </form>
    </div>
    <!-- ADD BUTTON -->
    <a th:href="@{/showAddForm}" class="btn btn-primary btn-sm mb-3">New beehive</a>
    <!-- ALL CONTRACTS BUTTON -->
    <a th:href="@{/db}" class="btn btn-secondary btn-sm mb-3">All beehives</a>
    <!-- ACTIVE ONLY BUTTON -->
    <a th:href="@{/listNucs}" class="btn btn-secondary btn-sm mb-3">Nucs only</a>
    <!-- SOFTWARE LIST BUTTON -->
    <a th:href="@{/queenList}" class="btn btn-secondary btn-sm mb-3">Queens</a>
    <!-- DATATABLES VIEW -->
    <a th:href="@{/datatable}" class="btn btn-dark btn-sm mb-3">Datatable view</a>
    <!-- ABOUT BUTTON -->
    <a th:href="@{/about}" class="btn btn-outline-dark btn-sm mb-3">About</a>
    <!-- TABLE -->
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Queen ID</th>
            <th>Breed</th>
            <th>Marking</th>
            <th>Year</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempQueen : ${queens}">

            <td th:text="${tempQueen?.id}"/>
            <td th:text="${tempQueen?.breed}"/>
            <td th:text="${tempQueen?.marking}"/>
            <td th:text="${tempQueen?.year}"/>

            <!--<td>
                <a th:href="@{/showUpdateForm(id=${tempContract.id})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>
                <a th:href="@{/disable(id=${tempContract.id})}"
                   class="btn btn-info btn-sm" onclick="if (!(confirm('Disable for sure?'))) return false">
                    Disable
                </a>
                <a th:href="@{/systemDetails(id=${tempContract.id})}"
                   class="btn btn-outline-info btn-sm">
                    Details
                </a>
                <a th:href="@{/delete(id=${tempContract.id})}"
                   class="btn btn-danger btn-sm" onclick="if (!(confirm('Delete for sure?'))) return false">
                    Delete
                </a>
            </td>-->

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>



